<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../src/style.css" />
</head>
<body class="signup">
<div class="frost">
    <div class="wrapper">
        <div class="container">
            <h2>Log in to an existing account</h2>
            <p>You must have an authorized account to log in. (<a href="./help_contents/how-to-sign-up-account.html">How do I get one?</a>).</p>
        </div>
        
        <form action="#!" class="with-floaters js-log-in">
            <div class="input-field">
                <input type="text" placeholder="@spo1_delacruz" name="username" id="username" />
                <label for="username">Username or Email</label>

            </div>
            <div class="input-field">
                <input type="password" placeholder="********" name="password" id="password" />
                <label for="password">Password</label>

            </div>
            <div class="buttons">
                <button type="submit">Log in</button>
                <a href="./signup.html">Sign up for a new account</a>
                <a href="#!">Forgot password?</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
